@import 'esoptra/colors';

.toc-wrapper {
  .logo {
    margin: 15px;
  }

  & > .search {
    &:before {
      color: $esoptra-color-white;
    }

    input {
      border-color: $esoptra-color-black-translucent;

      &::placeholder {
        color: $esoptra-color-white-translucent;
      }
    }
  }

  .toc-footer {
    border-top-color: $esoptra-color-black-translucent;
    border-top-style: solid;
  }
}

.page-wrapper {
  padding-bottom: 0;

  &.no-code {
    background-color: $esoptra-color-blue;
  }
}

.content {
  h1 {
    background-color: $esoptra-color-white;
    border-bottom: 0;
    border-top: 0;
  }

  h2 {
    background-image: none;
    border-color: $esoptra-color-grey;
  }

  aside {
    background-color: fade-out($esoptra-color-state-info, .6);

    &.success {
      background-color: fade-out($esoptra-color-state-success, .6);
    }

    &.warning {
      background-color: fade-out($esoptra-color-state-warning, .6);
    }
  }

  table {
    th {
      border-bottom: 0;
    }

    tr {
      &:nth-child(odd) > td {
        background-color: $esoptra-color-white;
      }

      &:nth-child(even) > td {
        background-color: $esoptra-color-white-translucent;
      }

      &:last-child {
        border-color: $esoptra-color-grey;
      }
    }
  }

  blockquote > p {
    color: $esoptra-color-white;
  }

  .no-code & {
    background-color: $esoptra-color-grey-light;
    max-width: 800px;

    & > blockquote + aside,
    & > blockquote + dl,
    & > blockquote + h1,
    & > blockquote + h2,
    & > blockquote + h3,
    & > blockquote + h4,
    & > blockquote + h5,
    & > blockquote + h6,
    & > blockquote + ol,
    & > blockquote + p,
    & > blockquote + table,
    & > blockquote + ul,
    & > pre + aside,
    & > pre + dl,
    & > pre + h1,
    & > pre + h2,
    & > pre + h3,
    & > pre + h4,
    & > pre + h5,
    & > pre + h6,
    & > pre + ol,
    & > pre + p,
    & > pre + table,
    & > pre + ul {
      margin-top: 28px;
    }

    & > aside,
    & > dl,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > ol,
    & > p,
    & > table,
    & > ul {
      margin-right: 0;
    }

    blockquote,
    pre {
      float: none;
      width: 100%;
    }
  }
}

a {
  color: $esoptra-color-green;
}

#nav-button {
  color: $esoptra-color-text-primary;
}
